rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Apenas permite leitura e escrita se o usuário estiver logado e acessando sua própria pasta (UID)
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
